@mixin lightWhiteGlassmorphism {
    background: rgba( 255, 255, 255, 0.6 );
    backdrop-filter: blur(4px);
    
    }
    
    @mixin lightGreyGlassmorphism {
        background: rgba(104, 103, 103, 0.6);
        backdrop-filter: blur(4px);
        
        }

    
@mixin playwrite {
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

    @mixin pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


@mixin quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


//     @mixin kauchan {
//         font-family: "Kaushan Script", cursive;
//          font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
        
//     }