* {
  margin: 0;
  padding: 0;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  scroll-padding-top: 30px;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Quicksand";
  font-size: 2.8rem;
}

p {
  font-family: "Quicksand";
  font-size: 2rem;
}

::-webkit-scrollbar {
  background: rgba(104, 103, 103, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: lightblue;
}

.pageNavigation {
  z-index: 100 !important;
  position: fixed;
  display: inline-block;
  background: rgba(104, 103, 103, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  width: calc(100% - 185px);
  height: 30px;
  top: 0px;
}
.pageNavigation .logo {
  position: relative;
  top: -24px;
  left: 5px;
  z-index: 10;
  width: 100px;
}
.pageNavigation .logo #logoLink {
  text-decoration: none;
  color: white;
  font-family: "Pacifico";
  font-size: 20px;
}
.pageNavigation .logo #logoLink:hover {
  text-shadow: 5px 5px 5px 15px black;
}
.pageNavigation .menuWrapper {
  position: absolute;
  bottom: 0px;
  right: -185px;
  width: 185px;
  transition: 2s;
}
.pageNavigation .menuWrapper ul {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.pageNavigation .menuWrapper ul .timelapseDIYList .timelapseTriangle {
  margin-top: -2px;
  margin-bottom: 2px;
  transform: rotateZ(180deg);
  animation: timelapseDIYDropdown 1s infinite;
}

@keyframes timelapseDIYDropdown {
  0% {
    transform: translateY(-2px) rotateZ(180deg);
  }
  50% {
    transform: translateY(2px) rotateZ(180deg);
  }
  100% {
    transform: translateY(-2px) rotateZ(180deg);
  }
}
.pageNavigation .menuWrapper ul .timelapseDIYList .timelapseTriangleOn {
  animation: timelapseDIYDropdownOn 1s infinite;
}
@keyframes timelapseDIYDropdownOn {
  0% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}
.pageNavigation .menuWrapper ul a {
  position: relative;
  width: 100%;
  text-align: center;
  height: 30px;
  border: 1px solid black;
  line-height: 30px;
  display: block;
  text-decoration: none;
}
.pageNavigation .menuWrapper ul a li {
  list-style-type: none;
  color: black;
}
.pageNavigation .menuWrapper ul a li:hover {
  background: rgba(104, 103, 103, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.pageNavigation .menuWrapper ul li {
  list-style-type: none;
  color: black;
  line-height: 30px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.pageNavigation .menuWrapper ul li:hover {
  cursor: pointer;
}
.pageNavigation .menuWrapper ul li .timelapseDIY {
  margin: 0;
  position: relative;
  display: none;
}
.pageNavigation .menuWrapper ul li .timelapseDIYOn {
  display: block;
}
.pageNavigation .menuWrapper .loginForm {
  text-align: center;
  margin: 0px 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.pageNavigation .menuWrapper .loginForm .buttonsSpace {
  font-size: 10px;
  margin: 10px 0px;
}
.pageNavigation .menuWrapper .loginForm .buttonsSpace .submitCredentials:hover,
.pageNavigation
  .menuWrapper
  .loginForm
  .buttonsSpace
  .createAccountButton:hover {
  cursor: pointer;
}
.pageNavigation .menuWrapper .colorSpace {
  position: relative;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background: rgba(104, 103, 103, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.pageNavigation .menuWrapper .colorSpace .burgerMenu {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 1px;
  right: 10px;
}
.pageNavigation .menuWrapper .colorSpace .burgerMenu:hover {
  cursor: pointer;
}
.pageNavigation .menuWrapper .colorSpace .burgerMenu:hover .line {
  background-color: lightblue;
}
.pageNavigation .menuWrapper .colorSpace .burgerMenu .line {
  position: relative;
  width: 25px;
  height: 4px;
  margin: 4px 0px;
  background-color: white;
  transition: 2s;
}
.pageNavigation .menuWrapperOn {
  transition: 2s;
  transform: translateY(calc(100% - 30px));
}
.pageNavigation .menuWrapperOn .burgerMenu #line1 {
  transition: 2s;
  transform: translate(2px, 8px) rotate(45deg);
}
.pageNavigation .menuWrapperOn .burgerMenu #line2 {
  transition: 2s;
  transform: scaleX(0);
}
.pageNavigation .menuWrapperOn .burgerMenu #line3 {
  transition: 2s;
  transform: translate(2px, -8px) rotate(-45deg);
}

@media screen and (max-width: 800px) {
  .pageNavigation {
    width: 100vw;
  }
  .pageNavigation .menuWrapper {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    transition: 2s;
  }
  .pageNavigation .menuWrapper ul .timelapseDIYList {
    line-height: 50px;
    font-size: 20px;
  }
  .pageNavigation .menuWrapper ul .timelapseDIYList ul a li {
    font-size: 12px;
  }
  .pageNavigation .menuWrapper ul a {
    height: 50px;
  }
  .pageNavigation .menuWrapper ul a li {
    position: relative;
    line-height: 50px;
    font-size: 16px;
  }
  .pageNavigation .menuWrapper .loginForm .loginSpace,
  .pageNavigation .menuWrapper .loginForm .passwordSpace {
    font-size: 16px;
  }
  .pageNavigation .menuWrapper .loginForm .loginSpace .login,
  .pageNavigation .menuWrapper .loginForm .loginSpace .password,
  .pageNavigation .menuWrapper .loginForm .passwordSpace .login,
  .pageNavigation .menuWrapper .loginForm .passwordSpace .password {
    width: 250px;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    margin: 4px 0px 4px 0px;
  }
  .pageNavigation .menuWrapper .loginForm .loginSpace .login,
  .pageNavigation .menuWrapper .loginForm .passwordSpace .login {
    margin-left: 43px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .pageNavigation .menuWrapper .loginForm .buttonsSpace {
    font-size: 16px;
  }
  .pageNavigation .menuWrapper .loginForm .buttonsSpace .submitCredentials,
  .pageNavigation .menuWrapper .loginForm .buttonsSpace .createAccountButton {
    font-size: 16px;
    padding: 5px;
  }
  .pageNavigation .menuWrapper .colorSpace {
    background-color: rgba(0, 0, 0, 0);
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    transition: 2s;
  }
  .pageNavigation .menuWrapper .colorSpace .burgerMenu {
    position: absolute;
    right: 5px;
  }
  .pageNavigation .menuWrapperOn {
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: 2s;
  }
  .pageNavigation .menuWrapperOn .colorSpace {
    background: rgba(104, 103, 103, 0.6);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    transition: 2s;
  }
}
.videoBackground {
  height: 100vh;
  width: 100vw;
}
.videoBackground .videoBg {
  background-position: center center;
  z-index: -100;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}


#timelapseDIY header {
  margin-top: -6%;
  height: 100vh;
}
#timelapseDIY header .brain {
  height: 100vh;
  position: relative;
  width: 100%;
}
#timelapseDIY header h1 {
  z-index: 1;
  font-size: 2.8rem;
  position: relative;
  top: -80%;
  color: black;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-family: Quicksand;
}

#timelapseDIY header p {
  z-index: 1;
  font-size: 2rem;
  position: relative;
  top: -35%;
  color: black;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

@media screen and (max-width: 900px) {
  #timelapseDIY {
    width: 100%;
  }
  #timelapseDIY header .brain {
    height: 100vh;
    margin-top: -15%;
    position: relative;
    margin-bottom: -110px;
    object-fit: cover;
  }
  #timelapseDIY header h1 {
    font-size: 16px;
    position: relative;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
  }
  #timelapseDIY header p {
    font-size: 16px;
    position: relative;
    top: -60px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
  }
}

.stepsContainer {
  min-width: 525px;
  width: 50% !important;
  height: 35% !important;
  border: 3px solid gray;
  border-radius: 20px !important;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -50%);
  display: flex;
}

#timelapseDIY #cloud1 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud1.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud1 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
#timelapseDIY #cloud2 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud2.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud2 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
#timelapseDIY #cloud3 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud3.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud3 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
#timelapseDIY #cloud4 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud4.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud4 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
#timelapseDIY #cloud5 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud5.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud5 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
#timelapseDIY #cloud6 {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("images/cloud6.jpg");

  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 30px;
}
#timelapseDIY #cloud6 .cloudName {
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  color: white;
  background-color: black;
  opacity: 0.8;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cloud1,
.easingOn {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud1 .stepsContainer,
.easingOn .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud1 .stepsContainer p,
.easingOn .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud1 .stepsContainer .stepsImages,
.easingOn .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud1 .stepsContainer,
  .easingOn .stepsContainer {
    position: relative;
    min-width: 350px;
    width: 50vw !important;
    height: 70vh !important;
    margin: -10% 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud1 .stepsContainer p,
  .easingOn .stepsContainer p {
    width: 80%;
    margin-top: 15%;
    text-align: center;
  }
  .cloud1 .stepsContainer img,
  .easingOn .stepsContainer img {
    max-width: 150px;
    bottom: 15%;
  }
}

.cloud2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud2 .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud2 .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud2 .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud2 .stepsContainer {
    position: relative;
    width: 70vw !important;
    height: 70vh !important;
    margin: -10% 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud2 .stepsContainer p {
    width: 80%;
    margin-bottom: 25%;
    text-align: center;
  }
  .cloud2 .stepsContainer img {
    max-width: 150px;
    top: 25%;
  }
}

.cloud3 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud3 .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud3 .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud3 .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud3 .stepsContainer {
    position: relative;
    width: 70vw !important;
    height: 70vh !important;
   margin: -10% 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud3 .stepsContainer p {
    width: 80%;
    margin-top: 15%;
    text-align: center;
  }
  .cloud3 .stepsContainer img {
    max-width: 150px;
    bottom: 15%;
  }
}

.cloud4 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud4 .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud4 .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud4 .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud4 .stepsContainer {
    position: relative;
    width: 70vw !important;
    height: 70vh !important;
    margin: -10% 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud4 .stepsContainer p {
    width: 80%;
    margin: 0;
    text-align: center;
    margin-bottom: 15%;
  }
  .cloud4 .stepsContainer img {
    max-width: 150px;
    top: 15%;
  }
}

.cloud5 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud5 .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud5 .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud5 .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud5 .stepsContainer {
    position: relative;
    width: 70vw !important;
    height: 70vh !important;
    margin: -10% 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud5 .stepsContainer p {
    width: 80%;
    margin-top: 25%;
    text-align: center;
  }
  .cloud5 .stepsContainer img {
    max-width: 150px;
    bottom: 15%;
  }
}

.cloud6 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  color: black;
  font-size: 35px;
  opacity: 0;
  transition: 1s;
  line-height: 100vh;
  text-align: center;
  left: 10%;
}
.cloud6 .stepsContainer {
  position: relative;
  margin: 0 25%;
  width: 70%;
  height: 90%;
  border-radius: 0 0 20px 20px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.cloud6 .stepsContainer p {
  position: relative;
  font-size: 20px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
  padding: 50px;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.cloud6 .stepsContainer .stepsImages {
  position: relative;
  padding: 50px 50px 50px 50px;
  width: 200px;
}
@media screen and (max-width: 800px) {
  .cloud6 .stepsContainer {
    position: relative;
    width: 70vw !important;
    height: 70vh !important;
    margin: -10% 30%;
    padding: 50px 0 0 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cloud6 .stepsContainer p {
    width: 80%;
    margin-bottom: 30%;
    text-align: center;
  }
  .cloud6 .stepsContainer img {
    max-width: 150px;
    top: 20%;
  }
}

.easingOn {
  width: 110%;
  left: -15%;
  transition: 1s;
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .easingOn {
    left: -10%;
  }
}

#timelapseGalery {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: lightgrey;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#timelapseGalery .opisInfo {
  position: absolute;
  margin-top: -50%;
  text-align: center;
}

#timelapseGalery .opisInfo h2 {
  position: relative;
  margin-top: -40%;
  text-align: center;
  font-size: 25px;
}

#timelapseGalery .opisInfo p {
  position: relative;
  font-size: 14px;
  margin-top: 5%;
  text-align: center;
}

#timelapseGalery .actualTimelapse {
  position: relative;
  width: 60%;
  margin-top: -10%;
}
#timelapseGalery .actualTimelapse video {
  width: 100%;
}
#timelapseGalery .timelapseContainer {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 100%;
  height: auto;
  /* left: -5px; */
  margin-left: 0px;
  margin-top: 1%;
}
#timelapseGalery .timelapseContainer .timelapses {
  width: 200%;
  transition: 2s;
}
#timelapseGalery .timelapseContainer .timelapses .timelapse {
  position: relative;
  width: 12%;
  margin: 1%;
  display: inline-block;
  margin: 2px 0 0 0;
}
#timelapseGalery .timelapseContainer .timelapses .timelapse:hover {
  cursor: pointer;
}
#timelapseGalery .timelapseContainer .timelapsesOn {
  transition: 2s;
  transform: translateX(-48%);
}
#timelapseGalery .timelapseContainer .previousTimelapse {
  position: absolute;
  width: 25px;
  height: 97%;
  left: 0px;
  border: 1px solid black;
  background-color: white;
  z-index: 1;
  text-align: center;
  transition: 0.2s;
  display: flex;
  align-items: center;
  bottom: 4px;
  padding-left: 10px;
}
#timelapseGalery .timelapseContainer .previousTimelapse:hover {
  cursor: pointer;
  background-color: lightgrey;
  transition: 0.2s;
}
#timelapseGalery .timelapseContainer .previousTimelapseOn {
  background-color: grey;
}
#timelapseGalery .timelapseContainer .previousTimelapseOn:hover {
  cursor: default;
  background-color: grey;
}
#timelapseGalery .timelapseContainer .nextTimelapse {
  position: absolute;
  width: 25px;
  height: 97%;
  right: 0px;
  border: 1px solid black;
  background-color: white;
  z-index: 10;
  text-align: center;
  transition: 0.2s;
  bottom: 4px;
  display: flex;
  align-items: center;
  right: 0%;
  padding-left: 10px;
}
#timelapseGalery .timelapseContainer .nextTimelapse:hover {
  cursor: pointer;
  background-color: lightgrey;
  transition: 0.2s;
}
#timelapseGalery .timelapseContainer .nextTimelapseOn {
  background-color: grey;
}
#timelapseGalery .timelapseContainer .nextTimelapseOn:hover {
  cursor: default;
  background-color: grey;
}

@media screen and (max-width: 800px) {
  #timelapseGalery .actualTimelapse {
    top: 0px;
    width: 90%;
  }
  #timelapseGalery .actualTimelapse .timelapses {
    width: 200%;
  }
  #timelapseGalery .actualTimelapse .timelapses .timelapse {
    width: 11%;
    margin: 0%;
  }
  #timelapseGalery .actualTimelapse .timelapsesOn {
    transition: 2s;
    transform: translateX(-40%);
  }
}
footer {
  margin: 30px 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 10vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
footer p {
  text-align: center;
  font-family: "Quicksand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}
footer form legend {
  padding: 15px 10px;
  font-family: "Quicksand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
footer form fieldset {
  padding: 10px;
  font-family: "Quicksand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
footer form fieldset span {
  margin-bottom: 15px;
  font-family: "Quicksand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
footer form fieldset label,
footer form fieldset input,
footer form fieldset button {
  font-family: "Quicksand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@media screen and (max-width: 800px) {
  footer {
    width: 90%;
  }
  footer legend {
    position: relative;
    font-size: 12px;
  }

  footer form fieldset {
    position: relative;
    width: 80vw;
  }

  footer form fieldset .phone label,
  footer form fieldset .email label {
    font-size: 12px;
  }

  footer form fieldset input {
    width: 30%;
    font-size: 12px;
  }
  footer form fieldset a {
    margin: 10% 0 -2% 0;
    display: flex;
    justify-content: center;
  }
}

.registry {
  position: absolute;
  min-width: 620px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.registry .registryForm {
  position: relative;
  top: 15px;
  padding: 5%;
}

.registry .registryForm fieldset input {
  position: relative;
  width: 90% !important;
  margin-left: 4% !important;
}

.registry .registryForm fieldset .sex .inputs input {
  margin-left: -40% !important;
}

.registry .registryForm fieldset {
  border: none;
}
.registry .registryForm fieldset legend {
  padding: 0 5px 0 5px;
  color: black;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  width: 96%;
}
.registry .registryForm fieldset legend h1 {
  font-size: 24px;
}
.registry .registryForm fieldset legend h3 {
  margin-top: -2px;
  font-size: 12px;
}
.registry .registryForm fieldset #newName {
  position: relative;
  width: 47%;
  margin: 5px 1px 5px 1px;
  float: left;
  height: 25px;
  border: 1px solid grey;
  padding-left: 3px;
}
.registry .registryForm fieldset #newSurname {
  position: relative;
  width: 47%;
  margin: 5px 1px 5px 10px;
  float: left;
  height: 25px;
  border: 1px solid grey;
  padding-left: 3px;
}
.registry .registryForm fieldset #newContact {
  width: 97%;
  margin: 5px 1px 5px 1px;
  height: 25px;
  border: 1px solid grey;
  padding-left: 3px;
}
.registry .registryForm fieldset #newPassword {
  width: 97%;
  margin: 5px 1px 5px 1px;
  height: 25px;
  border: 1px solid grey;
  padding-left: 3px;
}
.registry .registryForm fieldset .birth {
  width: 100%;
  height: 50px;
  margin-left: 2px;
}
.registry .registryForm fieldset .birth p {
  font-size: 18px;
  margin: 2px;
}
.registry .registryForm fieldset .birth #birthDay {
  width: 32%;
}
.registry .registryForm fieldset .birth #birthMonth {
  width: 32%;
}
.registry .registryForm fieldset .birth #birthYear {
  width: 32%;
}
.registry .registryForm fieldset .sex {
  width: 100%;
  height: 50px;
}
.registry .registryForm fieldset .sex p {
  font-size: 18px;
  margin: 2px;
}
.registry .registryForm fieldset .sex .inputs {
  width: 30%;
  margin: 0 1%;
  padding: 1px;
  border: 1px solid black;
  float: left;
  height: 20px;
}
.registry .registryForm fieldset .sex .inputs:active {
  background: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.registry .registryForm fieldset .sex .inputs input {
  margin: 3px;
  display: block;
}
.registry .registryForm fieldset .sex .inputs label {
  display: block;
  margin-top: -18px;
  text-align: center;
}
.registry .registryForm fieldset .sex .inputs label:hover {
  cursor: pointer;
}
.registry p {
  margin: 5px;
}
.registry #registryButton {
  position: relative;
  width: 80%;
  height: 30px;
  margin: 10% 10%;
  bottom: -5px;
  border-radius: 15px;
  background: rgb(251, 225, 115);
  background: linear-gradient(
    90deg,
    rgb(251, 225, 115) 0%,
    rgb(255, 255, 255) 25%,
    rgb(255, 255, 255) 75%,
    rgb(251, 225, 115) 100%
  );
}
.registry #registryButton:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .registry {
    position: absolute;
    height: 100%;
    width: 100vw;
    overflow: hidden !important;
  }
  .registry .registryForm {
    position: relative;
    margin-left: 50%;
    margin-top: 15%;
    transform: translateX(-50%);
    padding: 5%;
    width: 60%;
  }
  .registry .registryForm fieldset .sex .inputs {
    width: 96%;
  }
  .registry #registryButton {
    position: relative;
    bottom: -10px;
    height: 25px;
    font-size: 16px;
  }
}
.registryBackground {
  position: absolute;
  width: 100% !important;
  height: 100vh;
  z-index: -10;
  background: url("images/registry.jpg") no-repeat center;
  background-size: cover;
}
/* # sourceMappingURL=style.css.map */
